body{
    /* background-color: rgb(250, 179, 48); */
    font-family: comic sans;

    background-image: url(../assets/Thanksgiving-BG-AI.jpg);
    background-size: 100% 100%;
    /* background-position: center; */
    background-repeat: no-repeat;    
    min-height: 100vh;
}

button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.title-spacing{
    margin-top: 8rem;
}