body{
    font-family: comic sans;
    background-image: url(../assets/Thanksgiving-BG-AI.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    min-height: 100vh;
}
h1{
    font-size: 20px;
}
button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:orange;
}
/* Created spacing from the top of the screen */
.title-spacing{
    margin-top: 9rem;
}
.highlighting{
    background-color: rgb(255, 198, 91);
    padding: 10px 20px;
}
.box{
    width: 40rem;
    display: flex;
    justify-content: center
}

    
@media (max-width: 500px)
{   /* Added responsiveness towards mobile version */
    body{
        background-size: auto 100%;
        background-position: top center;
    }
    .center-text {
        text-align: center;
    }
}
@media (max-width: 800px)
{
    .box{
        
    }
}